html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
      background: #2C2141;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
  }

  .main {
      background-color: #F8F8F8;
      border-radius: 16px;
      padding: 32px;
      margin:16px;
      width: 624px;
      max-height: 100vh;
      font-family: Arial, Helvetica, sans-serif;
      font-style: normal;
  }
  .card {
      display: flex;
      align-items: flex-start;

  }
  .card__description {
      line-height: 22px;
      font-size: 16px;
  }
  .card__foto { 
padding-right: 32px;

  }
  .card__name {
      font-size: 36px;
      font-weight: normal;
      margin: 0px;
  }
  .card__link{
      color: #E20613;
      text-decoration-line: none;
  }
  .card__position {
      font-size: 18px;
      font-weight: normal;
      font-style: italic;
      margin: 0px;
  }
.special{
    color: #ED6D05;
    font-weight: normal
}